@media screen and (max-width: 480px) {
  .search-wrapper {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .search-input {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .search-wrapper {
    padding: 0;
    margin: 0;
    width: auto;
  }
  .search_bar {
    padding: 0;
    width: auto;
  }
  .search-input {
    width: fit-content;
  }
  .icons-wrapper {
    padding: 0;
    margin: 0;
    max-width: fit-content;
  }
  .icons-wrapper > button {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 1024px) {
  .search-wrapper {
    width: auto;
    margin: auto;
    margin-left: 0;
    padding: auto;
  }
  .search_bar {
    /* padding: 0; */
    width: auto;
  }
  .search-input {
    width: fit-content;
  }
  .icons-wrapper {
    /* padding: 0;
      margin: 0; */
    max-width: fit-content;
  }
  .icons-wrapper > button {
    /* padding-left: 0;
      padding-right: 0; */
  }
}
/* @media screen and (min-width: 1200px) {
    .search-wrapper {
      max-width: 600px;
    }
  } */
