@media only screen and (max-width: 425px) {
  .header-container{
    margin: auto;
    padding: auto;
    width: 100%;
  }
  .logowith-menu{
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .search-wrapper {
    width: fit-content;
    margin: 0;
    padding: 0;
  }
   .search-input {
    width: auto;
    margin: 0;
    padding: 0;
  }
  .mailview{
    width: fit-content;
  }
  .sidebar{
    width: auto;
  }
 
}

@media screen and (max-width: 768px) {
  .header-container{
    width: 100%;
  }
  .search-wrapper {
    padding: 0;
    margin: 0;
    max-width: auto;
  }
  .search_bar {
    padding: 0;
    width: auto;
  }
  .search-input {
    width: fit-content;
  }
  .icons-wrapper {
    padding: 0;
    margin: 0;
    max-width: fit-content;
  }
  .icons-wrapper > button {
    padding-left: 0;
    padding-right: 0;
  }
  .mailview{
    max-width: auto;
  }
  #content{
    flex: auto;
  }
}
@media screen and (max-width: 1024px) {
  .header-container{
    display: flex;
  }
  .search-wrapper {
    max-width: auto;
    margin: auto;
    margin-left: 0;
    padding: auto;
  }
  .search_bar {
    /* padding: 0; */
    width: auto;
  }
  .search-input {
    width: fit-content;
  }
  .icons-wrapper {
    /* padding: 0;
      margin: 0; */
    max-width: fit-content;
  }
  .icons-wrapper > button {
    /* padding-left: 0;
      padding-right: 0; */
  }
}
/* @media screen and (min-width: 1200px) {
    .search-wrapper {
      max-width: 600px;
    }
  } */
